<script type='text/x-handlebars-template' id='404'>
  <h3 class="text-center">
    Page not found.
    <br><br>
    <i class="fa fa-home"></i>
    <br><br>
    Go back to the <a href="http://guido-barbaglia.blog/">home page</a>.
  </h3>
</script>
