<script type='text/x-handlebars-template' id='404'>
  <h3 class="text-center">
    The page you were looking for doesn't exist, or it's still work in progress.
    I apologize for any inconvenience.
    <br><br>
    <i class="fa fa-home"></i>
    <br><br>
    Go back to the <a onclick="load('home_page');">home page</a>.
  </h3>
</script>
