<script type='text/x-handlebars-template' id='home_page'>
  <div class="row">
    <div class="col-lg-3 text-center">
      <a id="goto-about-me">
        <img  class="img-responsive img-rounded center-block tile"
              src="src/images/portrait.jpg"
              title="About Me" />
        <h4>
          About Me
        </h4>
      </a>
    </div>
    <div class="col-lg-3 text-center">
      <a id="goto-docker-compose">
        <img  class="img-responsive img-rounded center-block tile"
              src="src/images/docker_compose.png"
              title="Simple client/server architecture with Docker Compose" />
        <h4>
          Simple client/server architecture with Docker Compose
        </h4>
      </a>
    </div>
  </div>
</script>
