<script type='text/x-handlebars-template' id='social'>
  <a id="twitter" target="_blank" title="Share it on Twitter">
    <i class="fa fa-twitter fa-2x"></i></a>
  &nbsp;
  <a id="linkedin" target="_blank" title="Share it on LinkedIn">
    <i class="fa fa-linkedin fa-2x"></i></a>
  &nbsp;
  <a id="reddit" target="_blank" title="Share it on Reddit">
    <i class="fa fa-reddit fa-2x"></i></a>
  &nbsp;
  <a id="facebook" target="_blank" title="Share it on Facebook">
    <i class="fa fa-facebook fa-2x"></i></a>
  &nbsp;
  <a id="google-plus" target="_blank" title="Share it on Google+">
    <i class="fa fa-google-plus fa-2x"></i></a>
</script>
