body {
  font-family: 'Roboto' !important;
  /*background-color: #eee;*/
  background-image: url('../images/clouds.jpg');
  background-repeat: repeat;
}

.container {
  background-color: #fff;
}

hr {
  margin: 10px 0 10px 0;
}

.tile {
  border: 1px solid #000;
}

a, a:link, a:visited, a:active {
  cursor: pointer;
  color: #000;
}

pre {
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
}

p {
  font-size: 18px;
}
